.hero {
    background: linear-gradient(180deg,
            #0058b6,
            #003a8c);
    border-radius: 15px;
    overflow: hidden;
    color: white;
}

.logo-section {
    text-align: center;
    background: white;
    padding: 20px;
}

.logo-section img {
    width: 280px;
}

.logo-section p {
    color: #003a8c;
    margin-top: 10px;
}

.hero-text {
    padding: 30px;
}

.hero-text h1 {
    font-size: 3rem;
}

.hero-image {
    width: 100%;
    display: block;
}

.bottom-features {
    display: flex;
    justify-content: space-around;
    background: white;
    color: #003a8c;
    padding: 20px;
}